p{
    text-shadow: 5px black; 
}
.text_mio{
    
    table-layout: auto;
    color: blueviolet;
    transition: background-color .5s;
  
}
img{
    width: 839px;
    height:350px ;
}
container{
    background-image: url(images/G560-1.png)
}
nav:hover{
    background: gold;
    
}
text_mio:hover{
    transition: background-color .5s;
}
a {
  
  transition: background-color .5s;
}
a:hover {
  background-color: gold;
  background-attachment: fixed;
}